
<div id="container">
      <div id="theTarget">
        <div class="image1">
          <h1>About</h1>
        </div>
        <div class="image2">
          <h1>About</h1>
        </div>
        <div class="image3">
          <h1>About</h1>
        </div>
      </div>
    </div>
<div>
ながのCAKEは全国発送可能なケーキ屋さんです。<br />
お子様からお年寄りの方までお召し上がりいただけるように、<br />
様々なバリデーションをご用意しております。<br />
全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br />
ぜひご注文ください。<br />
</div>
