<body class="home">

<div id="container">

<header>
<h1 class="space"></h1>
<h1 id="logo"><strong class="page-title">NaganoCake</strong></h1>


</aside>
</header>

<!--開閉メニュー-->


<div id="contents">

<section>

<h2>人気商品<br><span>販売中</span></h2>

<div class="list">

<figure><%= image_tag 'sale2.jpg', class:"fuwafuwa2" %></figure>
</a>
</div>

<div class="list">

<figure><%= image_tag 'sale1.jpg', class:"fuwafuwa2" %></figure>
</a>
</div>

<div class="list">

<figure><%= image_tag 'sale4.jpg', class:"fuwafuwa2" %></figure>
</a>
</div>

</section>

<section id="new">

<h2>News<br><span>お知らせ</span></h2>
<dl>
<dt>2021/08/04</dt>
<dd>チョコケーキ発売開始<span class="newicon">NEW</span></dd>
<dt>2021/08/04</dt>
<dd>イチゴショート発売開始<span class="newicon">NEW</span></dd>
<dt>2021/08/05</dt>
<dd>ガトーショコラ発売開始<span class="newicon">NEW</span></dd>
</dl>


</section>
<!--/#new-->



</div>
<!--/#contents-->

<footer>


<small>Copyright&copy; Sample Gallery</a> All Rights Reserved.</small>

</footer>

</div>
<!--/#container-->

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理-->
<script>
open_close("menubar_hdr", "menubar");
</script>

<!--lightbox用jsファイルの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

</body>

